@import '../../../../node_modules/antd/lib/table/style/index.css';
@import '../../../../node_modules/antd/lib/pagination/style/index.css';
@import '../../../styles/variables.scss';

@font-face {
    font-family: 'anticon';
    src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
    /* IE9*/
    src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
    }

.ant-table-wrapper {
    tbody {
        background-color: white;
    }
}
li.ant-pagination-item {
    margin-top: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    border: none;
    color: white;
}
.content-ranking li {
    padding: 0px;
}
li.ant-pagination-item {
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
}