@import '../../../../node_modules/antd/lib/table/style/index.css';
@import '../../../../node_modules/antd/lib/pagination/style/index.css';
@import '../../../styles/variables.scss';

@font-face {
    font-family: 'anticon';
    src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot');
    /* IE9*/
    src: url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
    }

.ant-table-wrapper {
    tbody {
        background-color: white;
    }
}
.ant-table-pagination.ant-pagination {
    display: flex;
}

.ant-pagination.mini .ant-pagination-item {
    height: 24px;
    width: 24px;
    padding: 0;
    margin-left: 5px;
    margin-top: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after, .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after {
    height: 24px;
    line-height: 24px;
    margin-top: -2px;
}
.ant-pagination-item, .ant-pagination-item:hover {
    background-color: #ccc;

    a, a:hover {
        color: white;
    }
}
.ant-pagination-item-active {
  background-color: $second-color;

  a, a:hover {
    font-weight: bold;
    color: white;
  }
  &:hover, &:active, &:focus {
    background-color: $second-color;
  }
}