@import "../../../styles/variables";
.content-ranking{
    margin: -10px;
    .trophy-bronze {
        margin-top: 10px;
    }
    img.trophy-bronze {
        height: 30px;
    }
    .trophy-silver, .trophy-gold {
        height: 32px;
    }
    .bronze{
        padding-top: 45px;
    }
    .fa-trash{
        font-size: 110px;
    }
    img.trash {
        margin-top: -15px;
    }
    .bronze {
        padding-top: 20px;
    }
    
    .bronze {
        padding-top: 2px;
    }
   .silver {
        color: #A9A9A9;
   }
    .golden{
        color: $golden-color;
    }
    h3.align{
        margin-top: 5px;
    }
    .bronze {
        color: #CCA785;
    }
    .list-podium {
        color: grey;
     }
     li {
         padding: 20px;
     }
     .card-tresh {
         margin-top: 40px;
         background-color: $grey-color;
         display: flex;
         justify-content: center;
         width: 185px;
         padding: 20px;
         padding-top: 40px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
     }
     
     .details-technology {
         padding: 10px;
         background-color: white;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         
    
         h3.technology-title{
            text-align: center;
            padding: 4px;
            margin-top: 5px;
        }
        .icon-medal {
            content: '';
            width: 23px;
            height: 23px; 
            text-align: center;
            color: white;
            margin-top: 7px;
            border-radius: 50%;
        }
        .bg-golden {
            background-color: #F1CD6F;   
        }
        .bg-silver {
            background-color: #CCCCCC;  
            
        }
        .bg-bronze {
            padding-top: 10px;
            background-color: #DCBDAC;
        }
        .card-details {
            padding-top: 5px;
        }
        .details-flex {
            display: flex;
            justify-content: space-between;
        }
        .content-podium {
            display: flex;
            justify-content: center;
            align-items: center;
        }
     }
     i {
         font-style: normal;
     }
     h3 {
         margin-left: 5px;
     }
    .fa-bug{
      font-size: 10px;
      top: 0;
    }
    .bug-medium:before{
      content: "\f188"; 
      font-family: FontAwesome;
      color:#000;
      font-size: 10px;      
      background-repeat: repeat-y;
      border-radius: 50%;
      position: absolute;
    }
}
