@import '../../styles/variables.scss';

.content-ranking{
    display: flex;
    flex-direction: column;
    color: $grey-color-light;

    .techs-podium {
        width: 200px;
        margin-top: -40px;
        display: flex;
        color: #BD8585;
        margin-left: -5px;
    }
    .menu-ranking {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        color: #000;
        margin-left: -30px;
    }
    .menu-tech {
        margin-left: 10px;
    }
    .menu-posts {
        margin-left: 25px;
    }
    li{
        list-style: none;
    } 
    .pagination{
        margin-left:70px;
        
    }
    .content-listbottom{
        background-color: $white-color;
    }

    div.container.content-listbottom {
        border-radius: 5px;
        padding-bottom: 10px;
        margin-top: 15px;
    }

    .pagination{
        margin-left: 150px;
    }

    .content-listbottom {
        width: 610px;
        background-color: white;
        padding: 10px;
    }
  
}

