@import "../../../styles/variables";
.list-podium {
   color: grey;
}
.card-tresh {
    margin-top: 40px;
    background-color: $grey-color;
    display: flex;
    justify-content: center;
    width: 188px;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.fa-trash {
    color: $golden-color;
    font-size: 110px;
}
.details-technology {
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.technology-title {
    text-align: center;
    padding: 4px;
}
i{
    font-style: normal;
}
.details-flex{
    display: flex;
    justify-content: space-between;
}
.card-details{
    padding-top: 5px;
}