@import "../../styles/variables";

.bg-form-publication {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: none;

  &.-show {
    display: block;
  }
}

.form-publication {
  position: relative;
  z-index: 2;
  position: relative;

  &.-actived {
    width: 600px;
    z-index: 3;
  }

  input {
    border-radius: 0;
    border-left: none;
    border-right: none;
    font-size: 14px;
  }

  .input-title {
    position: relative;
    display: flex;
    background-color: $white-color;
    border-radius: 50px;
    overflow: hidden;

    &.-border-radius-none {
      border-radius: 5px 5px 0 0;
    }

    input {
      flex: 1;
      border: none;
    }

    .avatar {
      margin: 10px 0 10px 10px;
      flex-shrink: 0;
    }

    .button {
      color: #aaa;
      font-size: 16px;
      display: none;

      &.-show {
        display: block;
      }
    }

  }

  &-informations {
    display: none;
    flex-direction: column;
    background-color: $white-color;
    border-radius: 0 0 5px 5px;

    &.-show {
      display: flex;
    }

    .text-description {
      font-size: 14px;
      min-height: 150px;
      border-top: 1px solid #f4f4f4;
      color: #999;
      padding: 10px;
      outline: none;
    }
  }
}