.content-icbug{
    position: relative;
    display: flex;
    height: 10px;
    animation: rotate 3s linear infinite alternate,
    move 2s steps(20) infinite both;
    height: 5px;
    padding: 5px;
    margin-right: 40px;
    offset: path("M 5 50 L 50 50 L 50 50 z") auto;
    color: #696866;
    transform-origin: 20%;

    .linear {
        position: absolute;
        offset: path("M 10 10 L 10 10 L 10 50 z") auto;        
        top: 5px;
    }
   
}

.teste{
    color: red;
}
 @keyframes nudge {
    0%,10% {
        transform: translate(0,0);
    }
    30% {
        transform: translate(2px,10px);
    }
    80%{
        transform: translate(2px,0);
    }
}
@keyframes move {

   from {
       transform: rotate(0deg)
   }
   to {
       transform: rotate(360deg)
   }
    /*  from { 
        transform: rotate(0deg);
     }
    to {
        transform: rotate(360deg)
    } */
} 

