@import "variables";

// MARGINS
._margin {
  margin: $space;

  &-top {
    margin-top: $space;
  }

  &-right {
    margin-right: $space;
  }

  &-bottom {
    margin-bottom: $space;
  }

  &-left {
    margin-left: $space;
  }
}

._relative{
  position: relative;
}

// PADDINGS
._padding {
  padding: $space;

  &-top {
    padding-top: $space;
  }

  &-right {
    padding-right: $space;
  }

  &-bottom {
    padding-bottom: $space;
  }

  &-left {
    padding-left: $space;
  }
}

//COLORS
._color {
  &-white {
    color: $white-color;
  }
}