//Cores
$transparent: transparent;
$primare-color: #515874;
$second-color: #63cac6;
$third-color: #399799;
$white-color: #ffffff;
$grey-light: #999999;
$grey-dark: #333333;
$danger-color: #b94b4f;
$golden-color: #C1963C;
$grey-color: #F6F8FA;
$grey-color-light:#B2B2B2;
$grey-color-lighter: #EFEFEF;
//Sizes
$space: 20px;
