@import "variables";

.access {
  background-color: $bg-color;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .access-box {
    width: 400px;
    display: block;
    background-color: $white-color;
    border-radius: 5px;
    padding: $space;
    box-shadow: 0 0 15px 5px rgba(0,0,0,.1);

    .access-header {
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      margin-bottom: $space;

      a {
        text-decoration: none;
      }
    }

    .access-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        padding: 10px 15px;
        color: $grey-dark;
        background-color: #eee;
        border: none;
        margin-bottom: 20px;
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: $grey-light;
      }
    }

    .access-footer {
      p {
        text-align: center;

        a {
          color: $grey-light;
          text-decoration: none;
        }
      }
    }
  }
}