@import "variables";

// Backgrounds
.bg-primare {
  background-color: $primare-color;
}
.bg-second {
  background-color: $second-color;
}
.bg-grey-dark {
  background-color: $grey-dark;
}
.bg-grey-light {
  background-color: $grey-light;
}

// Text
.color-white {
  color: $white-color;
}