@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
body {
  background-image: linear-gradient($bg1, $bg-color);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  letter-spacing: 2px;
  color: $grey-dark;
}

p, ul, ol, span, a {
  font-weight: thin;
}

label {
  display: block;

  &.-title {
    font-size: 14px;
    color: $white-color;
    margin-bottom: 5px;
  }
}
input, select {
  border-radius: 20px;
}
input, select, textarea, button {
  outline: none;
}
input, select, textarea {
  border: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
  background-color: $white-color;

  &::-webkit-input-placeholder {
    color: $grey-light;
  }
}

select {
  padding: 10px;
  -webkit-appearance:none;
}
textarea {
  border-radius: 5px;
  min-height: 100px;
  resize: vertical;
}