@import "../../styles/variables";

$space: 20px;

.post-card {
  display: flex;
  flex-direction: column;
  margin-top: $space;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  background-color: $white-color;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);

  .post-header {
    padding: $space $space 0 $space;

    .post-user {
      .avatar {
        margin-right: 10px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .post-content {
    padding: $space;

    h3 {
      margin-bottom: 10px;
    }
  }

  .tags {
    padding: 0 $space $space $space;

    .tag {
      padding: 5px;
      background-color: $second-color;
      font-size: 12px;
      color: $white-color;
      margin-right: 10px;
      border-radius: 5px;
    }
  }

  .post-footer {
    background-color: #f8f8f8;

    .post-data {
      padding: $space;
      background-color: rgba(0,0,0,.03);

      .post-react {

        button {
          padding: 0;
          margin-right: $space;

          .fa {
            font-size: $space;
          }
        }
      }

      .point {
        color: $grey-light;

        &.-negative {
          color: $danger-color;
        }

        &.-positive {
          color: $third-color;
        }
      }
    }

    .post-comments {
      padding: 10px;

      ul li {
        display: flex;
        margin-bottom: 10px;

        .avatar {
          margin-right: 10px;
          width: 30px;
          height: 30px;
        }

        .comment {
          font-size: 14px;

          span {
            font-weight: bolder;
          }
        }
      }
    }

    .add-comment {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 10px;


      form {
        display: flex;
        flex: 1;

        input {
          padding: 10px;
          border: none;
          font-size: 14px;
          border-radius: 5px;
          margin-right: 10px;
          flex: 1;
        }
        button {
          flex-shrink: 0;
        }
      }
    }
  }
}