ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  li {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      color: #fff;

      .fa {
        margin-right: 5px;
      }
    }
  }
}
