@import "../../../styles/variables";

.list-technologies{
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $grey-color-lighter;
    width: 100%;
    height: 20px;
    padding-top: 15px;
        
    .position {
        margin-left: 15px;
        width: 20px;
    }
    .technology { 
        width: 70px;        
        i {
            margin-left: -40px;
        }
    }
    .points {
        width: 50px;
        margin-left: -25px;
    }
    .posts {
        width: 50px;
        margin-left: -35px;
    }
}

li.list-technologies {
   height: 40px;
   padding-top: 10px;
}
