@import "../../styles/variables";

.nav-bar {
  padding: 20px;
  background-color: rgba(255,255,255, .2);
  flex-shrink: 0;
  position: relative;
  z-index: 3;

  a {
    text-decoration: none;

    h1 {
      color: $white-color;

      img {
        display: block;
        width: 250px;
      }
    }
  }

  .notification {
    padding-left: 20px;

    button {
      padding: 0;
      position: relative;

      .fa {
        font-size: 20px;
        color: $white-color;
      }

      .alert {
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 10px;
        height:10px;
        border-radius: 50%;
        background-color: $second-color;
      }
    }
  }

  .avatar {
    margin-left: $space;
  }
}