@import '../../styles/variables.scss';

.content-landingpage {
    
    .presentation, .publication, .technologies, .form-signup {
        height: 600px;
    }
    .publication, .form-signup {
        background-color: $grey-color-lighter;
    }
    p.presentarion-content{
        font-size: 20px; 
        padding-top: 15%;
        color: white;
        width: 450px;
        text-align: center;
        margin: 0 auto;
    }
    .btn-register{   
        width: 60px;
        margin: 0 auto;

        button {
            width: 90px;
            margin-top: 10px;
            height: 38px;
            border-radius: 30px;
            background-color: #00d2b7;
            border: 1px solid #00d2b7;
            color: white;
            margin-right: 30px;
            font-size: 16px;
        }
    }
    .presentation {
        display: flex;
        flex-direction: column;
    }
   
    .publication {
        h3 {
            font-weight: bold;
        }
        .publication-content {
            width: 286px;
            margin: 0 auto;
            padding-top: 6%;
        }
   }
   .technologies-content {
       width: 300px;
       margin: 0 auto;
       padding-top: 6%;
       
       h3, p {
           color: white;
       }
   }
}
