$margin: 20px;

.publication {

  h2 {
    color: #fff;
  }

  form {

    input, textarea, button {
      margin-top: $margin;
    }

    .select-tech {
      position: relative;

      .option-tech {
        padding: 10px 20px;
        background-color: #fff;

        .fa {
          margin: 0;
        }
      }
    }
  }
}